DepthV2/checkpoints
YOLO_world/weights/
EfficientViTSAM/assets/checkpoints/efficientvit_sam

output_bbox_image.png
output_bbox_video.mp4
point_clouds
map_gen
test_images


test.mp4
final_code

bin 
lib
share
pyenv.cfg
__pycache__