opencv-python
torch==2.4.0
torchvision==0.19.0
mmdet==3.0.0
mmengine==0.10.7
mmyolo==0.6.0
timm==1.0.15
transformers==4.46.3
albumentations
matplotlib
supervision
xformers==0.0.27.post2
open3d
onnx
onnxsim
OmegaConf

tqdm
scipy
huggingface-hub
pycocotools

git+https://github.com/alibaba/TinyNeuralNetwork.git
git+https://github.com/facebookresearch/segment-anything.git
